$fontSmall: 14px;

.green-bg {
  background: $green;
}
.red-bg {
  background: $red;
}

.flex {
  display: flex;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}


@media (min-width: 576px) {
  .first-col {
    padding-right: 0;
  }
}
